body {
  margin: 0;
  background-image: linear-gradient(white, #fff9b3);
  font-family: Arial, Helvetica;
  /* -webkit-font-smoothing: antialiased; */
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
